canvas {
  display: block;
  margin: auto;
  margin-top: 1%;
  border-radius: 3px;
  background: #000;
}

.themeColor, .backButton:hover {
	color: #6DBE45;
}

.container {
  margin-top: 1%;
  text-align: center;
  background: none;
}
