/* Styles for index.html and about.html */

.themeColor, .backButton:hover {
	color: #ff5d5d;
}

.titleBanner {
	background: #ff5d5d;
}

.contentContainer {
	justify-content: space-around;
}

.contentDescriptor {
	width: auto;
}

#about {
	width: auto;
	position: fixed;
	margin: .5vh;
	color: #FFF;
	transition: color .1s ease-out;
}

#about:hover {
	color: #ff5d5d;
}

#aboutContent {
	width: 60%;
	margin: 5vh auto;
	align-self: center;
}

.aboutHeader {
	font-family: monospace;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 2vh;
}

.aboutAnswer {
	margin-bottom: 5vh;
}

video {
	width: auto;
}

/* 'About' feedback form styles */
#feedbackForm {
	width: 50%;
	margin: auto auto 5% auto;
}

#feedbackForm input, textarea {
	width: auto;
	color: #000;
}

#feedbackFormTitle {
	font-size: 2em;
	text-align: center;
}

.feedbackFormSubtitle {
	font-weight: bold;
	font-size: 1.25em;
	margin: 3vh 0 1vh 0;
}
