/* This CSS file acts as a semiuniversal styling list-
anything shared between 2 or more pages will be listed here
for faster page loading and ease of access / change. */

/* DOM styles */

html,
* {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #FFF;
    font-family: "Segoe UI Light", sans-serif;
    font-size: 1em;
    overflow-x: hidden;
}

body {
    background: url("../img/universal/bg.png");
    background-attachment: fixed;
}

a {
    color: inherit;
    background: none;
    text-decoration: none;
}

img {
    display: block;
}

ul, ol {
    list-style-position: inside;
    text-indent: 5%;
}

/* Header container styles */
.backButton {
    width: auto;
    position: fixed;
    margin: .5vh;
    color: #FFF;
    transition: color .1s ease-out;
    background: none;
}

.socialMedia {
    display: flex;
    width: 25vw;
    position: absolute;
    top: 1vh;
    right: 0;
    background: none;
}

.socialMedia a {
    width: 7%;
    margin: 2%;
}

.socialMedia a img {
    filter: opacity(.5);
}

.socialMedia a img:hover {
    filter: none;
}

.titleContainer {
    text-align: center;
}

.title {
    font-size: 3em;
}

.titleBanner {
    padding: .2%;
    margin-left: 1%;
    border-radius: 2px;
    font-size: 1.25em;
    vertical-align: super;
}

.ending {
    opacity: 0;
    transition: .2s opacity ease-out;
}

.ending:hover {
    opacity: 1;
}

.bold {
    font-weight: bold;
}

/* Content container styles */

.contentContainer {
    display: flex;
    background: none;
}

.content {
    margin: 10vh 6vw 0vh 6vw;
    background: none;
}

.content:hover {
    cursor: pointer;
}

.contentDescriptor {
    font-size: 1.5em;
    text-align: center;
    margin: 2% 0%;
    background: none;
}

/* Copyright */
.copyrightContainer {
    width: 100%;
    padding: 1% 0;
    position: fixed;
    bottom: 0;
    background: rgba(100,100,100,.7);
}

.copyright {
    background: none;
    font-style: italic;
    font-size: .8em;
    color: #FFF;
    text-align: center;
}
